.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /* height: 50px; */
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Strain Selector */

.strain-selector-tile {
  display:inline-block;
  width: 200px;
  height: 254px;
  border: 1px solid black;
  border-radius: 25px;
  margin: 50px;
  position: relative;
}

.tile-strain-type {
  position: absolute;
  top: 5px;
  left: 15px;
  text-align: left;
}

.tile-strain-abbreviation {
  position: absolute;
  font-size: 4em;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: capitalize;
}

.tile-strain-name {
  position: absolute;
  bottom: 5px;
  right: 15px;
  text-align: right;
}





.gif-tile-result {
  display:inline-block;
  width: 250px;
  height: 250px;
}

.gif-tile-result img {
  max-width: 250px;
}
