.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /* height: 50px; */
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Strain Selector */

.strain-selector-tile {
  display:inline-block;
  width: 200px;
  height: 254px;
  border: 1px solid black;
  border-radius: 25px;
  margin: 50px;
  
}



.gif-tile-result {
  display:inline-block;
  width: 250px;
  height: 250px;
}

.gif-tile-result img {
  max-width: 250px;
}
