h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px;

}


.App {
  text-align: center;
  background-color: #3E3E58;
}


.App-header-container {

  width: 1064px;
  margin: auto;
  text-align: left;
}

.App-header {
  height: 72px;
  color: white;
}

.App-title {
  float: left;
  width: 425px;
  height: 72px;
  width: 50%;
}

.App-title h1 {
  margin: 0px;
  font-size: 25px;
  padding: 8px;
}

.header-nav {
  float: right;
  width: 250px;
  /* display: inline-block; */
}

.header-nav ul {
  margin: 0px;
}

.header-nav li {
  display: inline-block;
  padding: 15px;
}

.header-nav li a {
  color: white;
  text-decoration: none;
}





/* App Intro */
.app-intro {
  height: 500px;
  background: #3E3E58;
  position: relative;
}

.app-intro-text-container {
  width: 1064px;
  margin: auto;
  text-align: left;
}

.app-intro-text {
  /* margin-top: 67px; */
  width: 587px;
  padding-top: 67px;
}

.app-intro-text h2 {
  color: white;
  font-size: 48px;
  margin: 0px;
  margin-bottom: 20px;
}

.mountain-scene {
  position: absolute;
  right: 20px;
  bottom: 0px;
}




/* Strain Selector */

.strain-selector {
  background-color: white;
}

.strain-selector-tile {

  display:inline-block;
  width: 200px;
  height: 254px;
  border: 1px solid black;
  border-radius: 25px;
  margin: 50px;
  position: relative;
}

.tile-strain-type {
  position: absolute;
  top: 5px;
  left: 15px;
  text-align: left;
}

.tile-strain-abbreviation {
  position: absolute;
  font-size: 4em;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: capitalize;
}

.tile-strain-name {
  position: absolute;
  bottom: 5px;
  right: 15px;
  text-align: right;
}





.gif-tile-result {
  display:inline-block;
  width: 250px;
  height: 250px;
}

.gif-tile-result img {
  max-width: 250px;
}
